asgiref==3.4.1
Django==3.2.7
django-filter==21.1
djangorestframework==3.12.4
djangorestframework-camel-case==1.2.0
future==0.18.2
Markdown==3.3.4
Pillow==8.3.2
pytz==2021.1
serializers==0.2.4
sqlparse==0.4.2
